<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastName %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @user.avatar %>
</p>

<% unless @user.moonlyter == nil %>
<p>
  <b>Moonlyter:</b>
  <%= @user.moonlyter.description %>
</p>
<% end %>

<%= link_to 'Creat Profile', new_moonlyter_path %> | 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
