<div class="fields">
  <li>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %><br /> 
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
    <%= link_to_remove_fields "remove", f %><br />
  </li>
</div>