<h1>Listing Moonlyters</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moonlyters.each do |moonlyter| %>
  <tr>
    <td><%= moonlyter.user.username %></td>
    <td><%= moonlyter.user.firstName %></td>
    <td><%= moonlyter.user.lastName %></td>
    <td><%= moonlyter.user.email %></td>
    <td><%= link_to 'Show', moonlyter %></td>
    <td><%= link_to 'Edit', edit_moonlyter_path(moonlyter) %></td>
    <td><%= link_to 'Destroy', moonlyter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
